body{
  margin: 0%;
}

.j {
    background-color: #ffffff;
    font-family: 'Jockey One';
    font-weight: 400;
    height:100%;
    
}

.img1{
  width:137px;
  height:137px;
   

}
   
.head{
 
  display:inline-flex;
  flex-direction: row;
  width: auto;
  box-sizing: border-box;
}
 
.title {  
  position:absolute;
   margin-top:10px;
   margin-left:10px;
    font-family: 'Jockey One';
    font-weight: 400;
    font-size: 48px;
    line-height: 1.333;
    margin-top: 10px;
   
  
}

.ptitle{
   position:absolute;
   margin-top:10px;
    right: 5%;
      font-family: 'Jockey One';
      font-weight: 400;
      font-size: 48px;
      line-height: 1.333;
      margin-top: 10px;
}


.footer{
    background-color:  rgba(224, 224, 224, 0.94);
    width: 100%;
    bottom: 0;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
     
  }
  
  .footernav {
   position: absolute;
   right:5%;
   
  }
  
  .footernav a {
   
    text-decoration: none;
    color: rgb(22, 20, 20);
  }
   
  .fb{ background-color:#b8cfe3f2;
    padding:10px;
    border-radius:10px ;
    width:20rem;
    justify-content: center;
    display: flex;
    align-items: center;
    
    
}
.fb input {
border-radius: 10px;
padding:2px;
}

.fb button{
justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 50px;
    
}




#formtitle {

font-weight:400;
}

.adf{
background-color: #eef0f0f1;;
}

.play{


justify-content: center;
display: flex;
align-items: center;
margin-left: 30%;
}
.leaveFormStatusContainer{
  border-radius: 50px;
  width: 70%;
  background: rgba(224, 224, 224, 0.94);
  position: relative;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  padding: 28px 17.5px 94px 23px;
align-items: center;
}
.ReqFiles{
  border-radius:100px;
  width: 50%;
  height: 200px;
  background: rgba(224, 224, 224, 0.94);
  position: relative;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  padding: 28px 17.5px 94px 23px;
align-items: center;
}
.PersonalDetails{
  border-radius:80px;
  width: 30%;
  height:400px;
  background: rgba(224, 224, 224, 0.94);
  position: relative;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  padding: 28px 17.5px 94px 23px;
align-items: center;
}

