body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    padding: 20px;
    padding-top: 0px;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left-side {
    display: flex;
    align-items: center;

  }
  
  .left-side img {
    width: 100px;
    height: auto;
    margin-right: 15px;
  }
  h1{
     position: absolute;
     right: 35px;
  }
  .para{
    font-size: 30px;
  }
  .mulatiyana{
    font-size: 20px;
  }
  
  .right-side ul {
    list-style: none;
    margin: 0;
    padding: 20px;
    padding-left: 40px;
    position: absolute;
    top: 130px;
    left:0;
    background-color: #ccc;
    width: 100%;
  }
  
  .right-side li {
    display: inline-block;
    padding-left: 50px;
  }
  .right-side a {
    text-decoration: none;
    color: black;
  }
  .right-side .logout {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    position: absolute;
    right: 100px;
    top: 10px
  }
  
  main {
    padding: 20px;
  }
  
  .main-container {
    background-color: #f0f0f0;
    padding: 40px;
    width: 500px;

  }
  h2{
    align-items: center;
    justify-content: center;
    padding-top: 20px;
  }
  
  h1 {
    margin-bottom: 15px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  .submit {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="date"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
  }
  
  textarea {
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 20px;
  }
  
  button {
    background-color: #007bff;;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  button:hover {
    background-color: #0056b3;
}
  
  footer {
    width: 100%;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    background-color: #d3d3d3;
    padding: 20px;
}

.footer-left p {
    margin: 5px 0;
}

.footer-left i {
    margin-right: 10px;
}

.footer-right ul {
    list-style-type: none;
    padding: 0;
}

.footer-right ul li {
    margin-bottom: 10px;
}

.footer-right ul li a {
    text-decoration: none;
    color: black;
}

.footer-bottom {
    text-align: right;
    background-color: #d3d3d3;
    padding: 10px;
    font-size: 0.9em;
}

.footer-bottom p {
    margin: 0
}
